APP_NAME=Citrus
APP_NAME_SHORT=Citrus
APP_SHORT_NAME=Citrus
APP_NAME_BUY=Citrus
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_LOG_LEVEL=warning
APP_URL=http://127.0.0.1:8000
NODE_ENV=local
APP_TIMEZONE=UTC
TIMEZONE=UTC
LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=citrus_v0
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

MAIL_DRIVER=log
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_DEMO_TO=
SENDGRID_API_KEY=
SENDGRID_EMAIL=
MAILGUN_DOMAIN=
MAILGUN_SECRET=
SES_KEY=
SES_SECRET=
SPARKPOST_SECRET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

SHIPPING_COST=0
TAX_RATE=0
DEFAULT_CURRENCY=USD
CURRENCY_SYMBOL=$

MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=
GOOGLE_ANALYTICS=

PAYMENT_METHODS=
PP_ACCOUNT_ID=
PP_CLIENT_ID=
PP_CLIENT_SECRET=
PP_API_URL=https://api.sandbox.paypal.com
PP_REDIRECT_URL=
PP_CANCEL_URL=
PP_FAILED_URL=
PP_MODE=sandbox

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_REDIRECT_URL=
STRIPE_CANCEL_URL=
STRIPE_FAILED_URL=

SHOP_NAME=Citrus
SHOP_COUNTRY_ISO=US
SHOP_COUNTRY_ID=1
COUNTRY_ID=1
SHOP_WEIGHT=kgs
SHOP_EMAIL=
SHOP_PHONE=

BANK_TRANSFER_NAME=
BANK_TRANSFER_ACCOUNT_TYPE=
BANK_TRANSFER_ACCOUNT_NAME=
BANK_TRANSFER_ACCOUNT_NUMBER=
BANK_TRANSFER_SWIFT_CODE=
BANK_TRANSFER_SWIFT_NOTE=
COD_NOTE=

FILESYSTEM_DRIVER=local
FILESYSTEM_CLOUD=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_URL=

ACTIVATE_SHIPPING=false
SHIPPING_API_TOKEN=
LARECIPE_DOCS_CACHED=false
CURL_CERTIFICATE_URL=
CANADIAN_POST_USERNAME=
CANADIAN_POST_PASSWORD=
CANADIAN_POST_CUSTOMER_NUMBER=

SQS_KEY=
SQS_SECRET=
SQS_PREFIX=
SQS_QUEUE=
SQS_REGION=us-east-1

SWEET_ALERT_CDN=
SWEET_ALERT_ALWAYS_LOAD_JS=false
SWEET_ALERT_NEVER_LOAD_JS=false
SWEET_ALERT_TIMER=5000
SWEET_ALERT_WIDTH=32rem
SWEET_ALERT_HEIGHT_AUTO=true
SWEET_ALERT_PADDING=1.25rem
SWEET_ALERT_ANIMATION_ENABLE=false
SWEET_ALERT_ANIMATECSS=https://cdn.jsdelivr.net/npm/animate.css
SWEET_ALERT_CONFIRM_BUTTON=true
SWEET_ALERT_CLOSE_BUTTON=false
SWEET_ALERT_TOAST_POSITION=top-end
SWEET_ALERT_MIDDLEWARE_AUTO_CLOSE=false
SWEET_ALERT_MIDDLEWARE_TOAST_POSITION=top-end
SWEET_ALERT_MIDDLEWARE_TOAST_CLOSE_BUTTON=true
SWEET_ALERT_MIDDLEWARE_ALERT_CLOSE_TIME=6000
SWEET_ALERT_AUTO_DISPLAY_ERROR_MESSAGES=false
SWEET_ALERT_CONTAINER_CLASS=
SWEET_ALERT_POPUP_CLASS=
SWEET_ALERT_HEADER_CLASS=
SWEET_ALERT_TITLE_CLASS=
SWEET_ALERT_CLOSE_BUTTON_CLASS=
SWEET_ALERT_ICON_CLASS=
SWEET_ALERT_IMAGE_CLASS=
SWEET_ALERT_CONTENT_CLASS=
SWEET_ALERT_INPUT_CLASS=
SWEET_ALERT_ACTIONS_CLASS=
SWEET_ALERT_CONFIRM_BUTTON_CLASS=
SWEET_ALERT_CANCEL_BUTTON_CLASS=
SWEET_ALERT_FOOTER_CLASS=
